
html {
    margin:0;
    padding:0;
    height:100%;	
}

body
{
    margin:0;
    padding:0;
    height:100%;	
	background-color:#b30000;
}

a
{
text-decoration:none;	
color:black;
font-weight: bold;
text-shadow: 2px 2px 3px white;
}

input[type="submit"]
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:3px;
}


input[type="submit"]:hover
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:8px;
}

input[type="reset"]
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:3px;
}


input[type="reset"]:hover
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:8px;
}

input[type="text"]
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:3px;
}


input[type="text"]:hover
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:8px;
}

input[type="password"]
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:3px;
}


input[type="password"]:hover
{
    width: 170px;
	height: 30px;
	font-size:15;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	color:grey;
	margin:5px;
	border-radius:8px;
}

input:focus
{
    outline-color:red;
}




#container 
{
	min-height:100%;
	position:relative;
}

#header 
{
    background:url(images/header.jpg);
	height:100px;
}

#panel 
{
    background:url(images/nav.png);
	width:100%;
	height:25px;
}

#middle 
{
    background:url(images/background.png);
	background-repeat: repeat-x;
	padding:10px;
	padding-bottom:100px;	
}

#footer
 {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;	
	line-height:30px;
	font-size:14;
	border: 2px solid black;
	border-left:0px;
	border-right:0px;
	color:grey;
	background-color:rgba(5,0,0,0.8);
}

.menu
{
	color:black;
	text-align:center;
	line-height:25px;
	word-spacing:15px;
}

.ourtext
{
	position:absolute;
	width:76%;
	height:70%;
	left:12%;
	border: 2px solid black;
	background:url(images/tlo.jpg);
	color:rgb(150,155,150);
	margin-top:20px;
}



.error
{
    color:red;	
}

p:first-letter { color: red }